<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com/moamoa/mybatis/moamoaMapper.xml">

<!-- review insert -->

	<insert id="hotelinsert" parameterType="com.moamoa.dto.hotelDTO">
		INSERT INTO moamoa(hotelname, hoteladdr, summary, hotelimg)
		VALUES(#{hotelname}, #{hoteladdr}, #{summary}, #{hotelimg})
	</insert>
 
 	<insert id="hotelupdate" parameterType="com.moamoa.dto.hotelDTO">
 		INSERT INTO moamoa(writer, score, title, review_neg, review_pos, Write_date)
		VALUES(#{writer}, #{score}, #{title}, #{review_neg}, #{review_pos}, #{write_date}) 
 	</insert>
 
 
 
 
 
 <!-- member inser   -->
 
 	<insert id="memberinsert" parameterType="com.moamoa.dto.memberDTO" >
		INSERT INTO moamoamember(id, nik, pw)
		VALUES(#{id}, #{nik}, #{pw})
	</insert>
 
 	<select id="confirmID" parameterType="String" resultType="String"> 
		SELECT * FROM moamoamember
	 	WHERE id= #{userid}
	</select>
	
	
	<select id="confirmnik" parameterType="String" resultType="String"> 
		SELECT * FROM moamoamember
	 	WHERE nik= #{nik}
	</select>
	
	<select id="login" parameterType="com.moamoa.dto.memberDTO" resultType="com.moamoa.dto.memberDTO">
		SELECT * FROM moamoamember
		WHERE id=#{id} AND pw=#{pw}
	</select>
	
	
	<!-- htl list  -->
	<select id="hotelView" resultType="com.moamoa.dto.hotelDTO">
 	<![CDATA[
	  	SELECT * FROM moamoa
		WHERE ROWNUM <= 10 AND hotelname is not null
	]]>
  </select>
	
</mapper>