<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com/moamoa/mybatis/moamoaMapper.xml">

<!-- review insert -->

	<insert id="hotelinsert" parameterType="com.moamoa.dto.hotelDTO">
		INSERT INTO moamoa(hotelbno , hotelname, hoteladdr, summary, hotelimg)
		VALUES(seq_moamoa.nextval, #{hotelname}, #{hoteladdr}, #{summary}, #{hotelimg})
	</insert>
 
 	<insert id="hotelupdate" parameterType="com.moamoa.dto.hotelDTO">
 		INSERT INTO moamoa(writer, score, title, review_neg, review_pos, Write_date)
		VALUES(#{writer}, #{score}, #{title}, #{review_neg}, #{review_pos}, #{write_date}) 
 	</insert>
 	
  	<select id="wordcloud"  parameterType="String" resultType="int">
 		SELECT hotel_seq
		FROM moamoa2
		WHERE hotelname = #{hotelname} AND ROWNUM = 1
 	</select>
 
 	<select id="reviewListpos" parameterType="String" resultType="com.moamoa.dto.hotelDTO">
 		
		SELECT * FROM  (SELECT * FROM moamoa2 WHERE hotelname = #{hotelname} AND review_pos is not null )
		moamoa2  where ROWNUM BETWEEN 1 AND 20
 	</select>
 	<select id="reviewListneg" parameterType="String" resultType="com.moamoa.dto.hotelDTO">
 		SELECT * FROM  (SELECT * FROM moamoa2 WHERE hotelname = #{hotelname} AND review_neg is not null )
		moamoa2  where ROWNUM BETWEEN 1 AND 20
 	</select>
 	
 	<select id="reviewListName" parameterType="String" resultType="com.moamoa.dto.hotelDTO">
 		
 		SELECT * FROM moamoa2 
		WHERE hotelname = #{hotelname}  AND Hoteladdr is not null
		
 	</select>
 
 	<select id="keywordpos" parameterType="String" resultType="com.moamoa.dto.HotelKeywordDTO">
 		

		 SELECT * FROM hotelkeyword
   		 WHERE HOTELNAME = #{hotelname} 
		
 	</select>
   

 
 	<select id="keywordneg" parameterType="String" resultType="com.moamoa.dto.HotelKeywordDTO">
 		
   		   SELECT * FROM hotelkeyword
           WHERE HOTELNAME = #{hotelname} 
		
 	</select>
 
 
 
 
 
 
 
 
 
 <!-- member insert   -->
 
 	<insert id="memberinsert" parameterType="com.moamoa.dto.memberDTO" >
		INSERT INTO moamoamember(id, nik, pw)
		VALUES(#{id}, #{nik}, #{pw})
	</insert>
 
 	<select id="confirmID" parameterType="String" resultType="String"> 
		SELECT * FROM moamoamember
	 	WHERE id= #{userid}
	</select>
	
	<select id="confirmpw" parameterType="com.moamoa.dto.memberDTO" resultType="String">
		SELECT id FROM moamoamember 
	 	WHERE pw= #{pw} AND id= #{id}
	</select>
	
	
	<select id="confirmnik" parameterType="String" resultType="String"> 
		SELECT * FROM moamoamember
	 	WHERE nik= #{nik}
	</select>
	
	<select id="login" parameterType="com.moamoa.dto.memberDTO" resultType="com.moamoa.dto.memberDTO">
		SELECT * FROM moamoamember
		WHERE id=#{id} AND pw=#{pw}
	</select>
	
	
	<update id="pwupdate" parameterType="com.moamoa.dto.memberDTO">
		UPDATE moamoamember SET
		pw = #{pw}
		WHERE id = #{id}
	</update>
	
	<update id="nikupdate" parameterType="com.moamoa.dto.memberDTO">
		UPDATE moamoamember SET
		nik = #{nik}
		WHERE id = #{id}
	</update>
	
	
	
	
	<delete id="delete" parameterType="String">
		DELETE FROM moamoamember
		WHERE id = #{id}
	</delete>
	
	
	
	
	
	
	<!-- htl list all  -->
	<select id="hotelView" resultType="com.moamoa.dto.HotelListDTO">
	
	 <![CDATA[
	  	SELECT * FROM ( SELECT rownum rnum,
	 	 	a.*
	 	 	FROM (SELECT *
	 	 			FROM moamoa
	 	 			WHERE hotelname is not null
	 	 		]]>		
	 	 			<if test= 'flag =="1"'>
	 	 			<![CDATA[AND hotelname LIKE '%'|| #{keyword}||'%']]>
	 	 			</if>
	 	 			<if test= 'flag =="2"'>
	 	 			<![CDATA[AND hoteladdr LIKE '%'|| #{keyword}||'%']]>
	 	 			</if>
	 	 			<if test= 'flag =="3"'>
	 	 			<![CDATA[AND hotelname LIKE '%'||#{keyword}||'%' OR hoteladdr LIKE '%'||#{keyword}||'%']]>
	 	 			</if>
	 	 			<if test= 'flag =="4"'>
	 	 			<![CDATA[AND title LIKE '%'|| #{keyword}||'%']]>
	 	 			</if>
	 	 			
	 	 		<![CDATA[
	 	 			)a)
	 	 			WHERE rnum BETWEEN #{pageStart} AND #{perPageNum}
	 	 		]]>
	 	 		
  </select>
  
  
  	<select id="hotellistcountPaging" resultType="int">
  		<![CDATA[
			SELECT count(hotelname) 
			FROM moamoa 
			WHERE ROWNUM > 0 AND hotelname is not null
		]]>
  	
  		<if test= 'flag =="1"'>
	 	 	<![CDATA[AND hotelname LIKE '%'|| #{keyword}||'%']]>
	 	</if>
     	<if test='flag == "2"'>
   		 <![CDATA[AND hoteladdr LIKE '%'||#{keyword}||'%']]>
     	</if>
     	<if test='flag == "3"'>
   		 <![CDATA[AND	title LIKE '%'||#{keyword}||'%' OR hoteladdr LIKE '%'||#{keyword}||'%']]>
     	</if>
     	<if test='flag == "4"'>
   		 <![CDATA[AND writer LIKE '%'||#{keyword}||'%']]>
     	</if>
  	</select> 
  	
  	
  	
  	
  	<!-- BoardDAO -->
  	
  	<select id="countPaging" resultType="int">
		<![CDATA[	
		  	SELECT count(bno)
		  	FROM moaboard
			WHERE bno>0
		]]>	
		<if test='flag == "1"'>
       		<![CDATA[AND title LIKE '%'||#{keyword}||'%']]>
        </if>
        <if test='flag == "2"'>
        	<![CDATA[AND content LIKE '%'||#{keyword}||'%']]>
        </if>
        <if test='flag == "3"'>
        	<![CDATA[AND title LIKE '%'||#{keyword}||'%' OR content LIKE '%'||#{keyword}||'%']]>
        </if>
        <if test='flag == "4"'>
        	<![CDATA[AND nik LIKE '%'||#{keyword}||'%']]>
        </if>
	</select>
	<select id="boardList" resultType="com.moamoa.dto.BoardDTO">
		<![CDATA[
			SELECT * FROM (SELECT rownum rnum, 
	                a.*
	                FROM (SELECT *
	                      FROM moaboard
	                      WHERE bno > 0 ]]>	

	                      <if test='flag == "1"'>
	                      <![CDATA[AND title LIKE '%'||#{keyword}||'%']]>
	                      </if>
	                      <if test='flag == "2"'>
	                      <![CDATA[AND content LIKE '%'||#{keyword}||'%']]>
	                      </if>
	                      <if test='flag == "3"'>
	                      <![CDATA[AND title LIKE '%'||#{keyword}||'%' OR content LIKE '%'||#{keyword}||'%']]>
	                      </if>
	                      <if test='flag == "4"'>
	                      <![CDATA[AND nik LIKE '%'||#{keyword}||'%']]>
	                      </if>
	                      
	                      <if test='code == "new"'>
	                      		ORDER BY bno DESC	                      
	                      </if>
	                      <if test='code == "good"'>
	                      		ORDER BY goodcnt DESC, bno DESC
	                      </if>
	                      <if test='code == "reply"'>
	                      		ORDER BY replycnt DESC, bno DESC
	                      </if>
	                      <if test='code == "cnt"'>
	                      		ORDER BY viewcnt DESC, bno DESC
	                      </if>
	           <![CDATA[  
	                      )a
	                )
			WHERE rnum BETWEEN #{pageStart} AND #{perPageNum}
		]]>	
	</select>
	
	
	<select id="boardReadView" resultType="com.moamoa.dto.BoardDTO">
		SELECT *
		FROM moaboard
		WHERE bno =#{bno}
	</select>
	
	<!--조회수  -->
	<update id="viewCnt">
		UPDATE moaboard
			SET viewcnt = viewcnt +1
			WHERE bno = #{bno}
	</update>
	
	<!--게시글 등록  -->
	<insert id="boardRegist" parameterType="com.moamoa.dto.BoardDTO">
		
		<choose>
			<when test="content !=null">
				INSERT INTO moaboard(bno, title, content, writer, nik, filename, filesize)
				VALUES(seq_moaboard.NEXTVAL, #{title},#{content},#{writer},#{nik},#{filename},#{filesize})
			</when>
			<otherwise>
				INSERT INTO moaboard(bno,title, writer, nik, filename, filesize)
				VALUES(seq_moaboard.NEXTVAL, #{title},#{writer},#{nik},#{filename},#{filesize})
			</otherwise>
		</choose>
	</insert>
	
	<!--게시글 수정  -->
	<update id="boardUpdate" parameterType="com.moamoa.dto.BoardDTO">
		<choose>
			<when test="content !=null">
				UPDATE moaboard SET 
				title= #{title}, nik=#{nik},
				<if test="filename !='no'">
					filename = #{filename},
					filesize = #{filesize},
				</if>
				content=#{content}
				WHERE bno = #{bno}
			</when>
			<otherwise>
				UPDATE moaboard SET 
				title= #{title},nik=#{nik},
				<if test="filename !='no'">
					filename = #{filename}, 
					filesize = #{filesize}
				</if>
				WHERE bno = #{bno}
			</otherwise>		
		</choose>			
	</update>
	
	<!--게시글 삭제  -->
	<delete id="boardDelete" parameterType="com.moamoa.dto.BoardDTO">
		DELETE FROM moaboard
		WHERE bno = #{bno}
	</delete>
	
	
	<!-- ReplyDAO -->
	<select id="replyListAll" resultType="com.moamoa.dto.ReplyDTO" parameterType="String">
		SELECT * FROM moareply
		WHERE bno =#{bno}
		ORDER BY rno ASC
	</select>
	<!--댓글 삭제  -->
	<delete id="replyDelete" parameterType="String">
		DELETE FROM moareply
		WHERE rno =#{rno}
	</delete>
	
	<!--댓글 등록  -->
	<insert id="replyInsert" parameterType="com.moamoa.dto.ReplyDTO">
		INSERT INTO moareply(rno,writer,content,nik,bno)
		VALUES(seq_moareply_rno.NEXTVAL,#{writer},#{content},#{nik},#{bno})				
	</insert>
	<update id="rpPlus">
		UPDATE moaboard SET replycnt = replycnt+1
		WHERE bno=#{bno}
	</update>
	<update id="rpMinus">
		UPDATE moaboard SET replycnt = replycnt-1
		WHERE bno=#{bno}
	</update> 
	
	
</mapper>